{{ $dayOfWeek := dateFormat "Monday" .Params.eventdate }}

{{ $dayOfWeek := dateFormat "Monday" .Params.eventdate }}

{{ $dayOfWeekPt := "" }}
{{ if eq $dayOfWeek "Monday" }}
	{{ $dayOfWeekPt = "Segunda-feira" }}
{{ else if eq $dayOfWeek "Tuesday" }}
	{{ $dayOfWeekPt = "Terça-feira" }}
{{ else if eq $dayOfWeek "Wednesday" }}
	{{ $dayOfWeekPt = "Quarta-feira" }}
{{ else if eq $dayOfWeek "Thursday" }}
	{{ $dayOfWeekPt = "Quinta-feira" }}
{{ else if eq $dayOfWeek "Friday" }}
	{{ $dayOfWeekPt = "Sexta-feira" }}
{{ else if eq $dayOfWeek "Saturday" }}
	{{ $dayOfWeekPt = "Sábado" }}
{{ else if eq $dayOfWeek "Sunday" }}
	{{ $dayOfWeekPt = "Domingo" }}
{{ end }}
<div class="inner">
			<div class="spotlights">
				<div class="intro">
					<header><strong>
						<span class="category">{{ .Params.italic | upper }}</span></strong>
						<h3>{{ if eq (.Params.showdate) false }}
							{{else}}
							{{ .Params.eventdate | dateFormat "02" }} {{ .Params.eventdate | dateFormat "01" | i18n }},
							{{ $dayOfWeekPt -}}{{end}}
							{{ if eq (.Params.showtime) true }},
								{{ .Params.eventdate | dateFormat "15h04" -}}
							{{ end }}
						</h3>
						<h2 class="left"><a href="{{.Permalink}}">{{ .Title | safeHTML }}</a></h2>
						<h3 class="left">{{ .Params.subtitle | safeHTML }}</h3>
						<p>{{ .Params.paragraph | markdownify }}</p>
					</header>
					<ul class="actions">
						<li><a href="{{ .Permalink }}" class="button" id="{{ replaceRE "evento" "" .RelPermalink | replaceRE "/" "" | replaceRE "-" "" }}">Ler mais</a></li>
					</ul>
				</div>
				<div class="spotlight">
					
						<a href="{{ .Permalink}}">
							{{- with .Resources.GetMatch "header" -}}
							<div class="image fit">
							    {{- if eq .MediaType.SubType "gif" -}}
									<figure>
										<img src="{{- .RelPermalink -}}" alt="" class="float-right" />
										<figcaption>{{ $.Page.Params.copyright  }}</figcaption>
									</figure>
							    {{- else }}
							        <figure>
							        	<img src="{{- .RelPermalink -}}" alt="" />
							        	<figcaption>{{ $.Page.Params.copyright  }}</figcaption>
							        </figure>
							    {{- end }}
							</div>
							{{- else }}
						

						    <div class="image fit"><img src="" alt="" /></div>
						{{- end }}
						</a>

<!-- <div class="content"><a href="{{.Permalink}}">Ler Mais</a></div> -->
				</div>
				{{- with .Resources.GetMatch "header_secondary" -}}
				<div class="spotlight">
					<div class="image fit">
						    {{- if eq .MediaType.SubType "gif" -}}
						        <img src="{{- .RelPermalink -}}" alt="" />
						    {{- else }}
						        {{- $image := .Resize "400x" -}}
						        <img src="{{- $image.RelPermalink -}}" alt="" />
						    {{- end }}
					</div>
					<div class="content"></div>
				</div>
				{{- end }}
			</div>
		</div>