{{ define "bodyclasses" }}
	single {{ .Title | lower | urlize}}
{{ end }}

{{ define "main" }}
{{ $dayOfWeek := "" }}

{{ $dayOfWeekPt := "" }}

{{ if .Params.eventdate }}

{{ $dayOfWeek = dateFormat "Monday" .Params.eventdate }}


{{ if eq $dayOfWeek "Monday" }}
	{{ $dayOfWeekPt = "Segunda-feira" }}
{{ else if eq $dayOfWeek "Tuesday" }}
	{{ $dayOfWeekPt = "Terça-feira" }}
{{ else if eq $dayOfWeek "Wednesday" }}
	{{ $dayOfWeekPt = "Quarta-feira" }}
{{ else if eq $dayOfWeek "Thursday" }}
	{{ $dayOfWeekPt = "Quinta-feira" }}
{{ else if eq $dayOfWeek "Friday" }}
	{{ $dayOfWeekPt = "Sexta-feira" }}
{{ else if eq $dayOfWeek "Saturday" }}
	{{ $dayOfWeekPt = "Sábado" }}
{{ else if eq $dayOfWeek "Sunday" }}
	{{ $dayOfWeekPt = "Domingo" }}
{{ end }}
{{ end }}
	<!-- One -->
		<div id="main">
			<div class="wrapper">
				<div class="inner">
					<header class="major">
{{ if .Params.eventdate }}
						<h3>{{ .Params.eventdate | dateFormat "02" }} {{ .Params.eventdate | dateFormat "01" | i18n  }},
							{{$dayOfWeekPt}}
							{{ if eq (.Params.showtime) true }},
								{{ .Params.eventdate | dateFormat "15h04"}}
							{{ end }}</h3>
							{{end}}
						<h1>{{ .Title | safeHTML }}</h1>
						{{ with .Params.subtitle }}
							<p>{{ . | safeHTML }}</p>
						{{ end }}
						{{ if eq .Section "noticias" }}
							Notícia publicada a {{ .Date | dateFormat "02-01-2006, 15h04" }}
						{{ end }}

					</header>
					{{- if eq (.Params.options.showHeader) nil | or (.Params.options.showHeader) true }}
					 {{- end -}}
					 <div class="row aln-center">
					 	<div class="col-9 col-12-small">
							<div class="image main">			
								<figure id="headerimage">
									{{ partial "get_header" . }}
									<figcaption>{{ with .Params.copyright}}{{.}}{{end}}</figcaption>
								</figure>
							</div>
						{{ .Params.paragraph | markdownify }}
						<hr>
					 	{{ .Content | safeHTML }}</div>
					 </div>

				</div>
			</div>
		</div>
{{ end }}