<div class="profile">
	<div class="image">
		{{- with .Resources.GetMatch "header" -}}
		    {{- if eq .MediaType.SubType "gif" -}}
		        <img src="{{- .RelPermalink -}}" alt="" />
		    {{- else }}
		        {{- $image := .Resize "149x149" -}}
		        <img src="{{- $image.RelPermalink -}}" alt="" />
		    {{- end }}
		{{- else }}
		    <img src="{{- $.Site.Params.headerPhoto -}}" alt="" />
		{{- end }}
	</div>
	<div class="content">
		<h3>{{ .Title }}</h3>
		<p>{{ .Params.subtitle }}</p>
		<ul class="actions">
			<li><a href="{{ .Permalink }}" class="button small border">Detalhes</a></li>
		</ul>
	</div>
</div>