{{ define "bodyclasses" }} list {{ .Section }}  {{ end }}

{{ define "main" }}
	{{ range $i, $e := .Data.Pages }}
<div id="two">
	<div class="wrapper {{ if modBool (add $i 1) 2 }}style2{{else}}style1{{end}}">
		<div class="inner">
			<div class="spotlights">
				<div class="intro">
					<header>
						<h2 class="left"><a href="{{.Permalink}}">{{ .Title }}</a></h2>
						<p>{{ .Summary }}</p>
					</header>
					<ul class="actions">
						<li><a href="{{ .Permalink }}" class="button primary">Ler mais</a></li>
					</ul>
				</div>
				<div class="spotlight">
					
						{{- with .Resources.GetMatch "header" -}}
						<a href="{{.Permalink}}">
							<div class="image fit">
							    {{- if eq .MediaType.SubType "gif" -}}
							        <img src="{{- .RelPermalink -}}" alt="" />
							    {{- else }}
							        {{- $image := .Resize "400x" -}}
							        <img src="{{- $image.RelPermalink -}}" alt="" />
							    {{- end }}
							</div>
						</a>
						{{- else }}
						    <a href="{{.Permalink}}"><div class="image fit"><img src="https://placekitten.com/400" alt="" /></div></a>
						{{- end }}

					<div class="content"><a href="{{.Permalink}}">Ler Mais</a></div>
				</div>
				{{- with .Resources.GetMatch "header_secondary" -}}
				<div class="spotlight">
					<div class="image fit">
						    {{- if eq .MediaType.SubType "gif" -}}
						        <img src="{{- .RelPermalink -}}" alt="" />
						    {{- else }}
						        {{- $image := .Resize "400x" -}}
						        <img src="{{- $image.RelPermalink -}}" alt="" />
						    {{- end }}
					</div>
					<div class="content">Lorem ipsum dolor</div>
				</div>
				{{- end }}
			</div>
		</div>
	</div>
</div>

{{ end }}
{{ end }}