{{ define "bodyclasses" }}
	single {{ .Title | lower | urlize}}
{{ end }}

{{ define "main" }}
	<!-- One -->
		<div id="main">
			<div class="wrapper">
				<div class="inner">
					<header class="major">
						<h1>{{ .Title }}</h1>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					{{- if (.Params.options.showHeader) nil | or (.Params.options.showHeader) true }}
					<div class="image main">					
					     {{- with .Resources.GetMatch "header" -}}
					         {{- if eq .MediaType.SubType "gif" -}}
					             <img src="{{- .RelPermalink -}}" alt="" />
					         {{- else }}
					             {{- $image := .Resize "1500x" -}}
					             <img src="{{- $image.RelPermalink -}}" alt="" />
					         {{- end }}
					     {{- else }}
					         <img src="{{- $.Site.Params.headerPhoto -}}" alt="" />
					     {{- end }}
					</div>
					 {{- end -}}
					 {{ .Content }}
				</div>
			</div>
		</div>
{{ end }}