{{ define "bodyclasses" }}
	single {{ .Title | lower | urlize}}
{{ end }}

{{ define "main" }}
	<!-- One -->
		<div id="main">
			<div class="wrapper">
				<div class="inner">
					<header class="major">
						<h1>{{ .Title }}</h1>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					{{- if (.Params.options.showHeader) nil | or (.Params.options.showHeader) true }}
					<div class="image main">					
						{{ partial "get_header" . }}
					</div>
					 {{- end -}}
					 {{ replace .Content .Summary "" | safeHTML }}

				</div>
			</div>
		</div>
{{ end }}