<div id="three">
	<div class="wrapper alt special">
		<header class="major">
			<h2>{{ .Title }}</h2>
			<p>{{ .Summary }}.</p>
		</header>
		<div class="wrapper style3">
			<div class="inner">
				<div class="profiles">
					<div class="profile">
						<div class="image">
							<img src="images/pic05.jpg" alt="">
						</div>
						<div class="content">
							<h3>Ipsum nullam</h3>
							<p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
							<ul class="actions">
								<li><a href="#" class="button small">More</a></li>
							</ul>
						</div>
					</div>
					<div class="profile">
						<div class="image">
							<img src="images/pic06.jpg" alt="">
						</div>
						<div class="content">
							<h3>Metus gravida</h3>
							<p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
							<ul class="actions">
								<li><a href="#" class="button small">More</a></li>
							</ul>
						</div>
					</div>
					<div class="profile">
						<div class="image">
							<img src="images/pic07.jpg" alt="">
						</div>
						<div class="content">
							<h3>Faucibus lorem</h3>
							<p>Sed egestas, ante et vulputate volutpat pede semper est luctus metus eu augue. Morbi purus amet libero.</p>
							<ul class="actions">
								<li><a href="#" class="button small">More</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer>
			<ul class="actions">
				<li><a href="#" class="button">Learn More</a></li>
			</ul>
		</footer>
	</div>
</div>