	<head>
		<title>{{ .Site.Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />

		{{ $options := (dict "targetPath" "main.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
		{{ $main := resources.Get "sass/main.scss" | resources.ToCSS $options | resources.Fingerprint }}
		<link rel="stylesheet" href="{{ $main.Permalink }}" />
	</head>