<!-- Header -->
<header id="header" class="alt">
	<a class="logo" href="/">Abril <span>no Feminino</span></a>
	<nav id="nav">
		<ul>
			<li class="current"><a href="/"><i class="icon fas fa-home"></i></a></li>
			<li><a href="/page/sobre-nos/">Sobre Nós</a></li>
			<li><a href="/page/programa">Apresentação e Calendário</a></li>
			<li><a href="/local">Locais</a></li>
			<li><a href="/noticias">Diário de Bordo</a></li>
			<li><a href="/page/media/">Media</a></li>
			<li><a href="/page/apoios">Apoios</a></li>
			<li><a href="/page/edicoes-anteriores">Edições Anteriores</a></li>
			<li><a href="/page/subscrever">Subscrever</a></li>
			<li><a href="/page/contactos">Contactos</a></li>
		</ul>
	</nav>
</header>