		<div class="inner">
			<div class="spotlights">
				<div class="intro">
					<header>
						<h2 class="left"><a href="{{.Permalink}}">{{ .Title | safeHTML }}</a></h2>
						<h3 class="left">{{ .Params.subtitle }}</h3>
						<p>{{ .Params.paragraph | markdownify }}</p>
					</header>
					<ul class="actions">
						<li><a href="{{ .Permalink }}" class="button">Ler mais</a></li>
					</ul>
				</div>
				<div class="spotlight">
					

						<a href="{{ .Permalink}}">
							{{- with .Resources.GetMatch "header" -}}
							<div class="image fit">
							    {{- if eq .MediaType.SubType "gif" -}}
									<figure>
										<img src="{{- .RelPermalink -}}" alt="" class="float-right" />
										<figcaption>{{ $.Page.Params.copyright  }}</figcaption>
									</figure>
							    {{- else }}

							        <figure>
							        	<img src="{{- .RelPermalink -}}" alt="" />
							        	<figcaption>{{ $.Page.Params.copyright  }}</figcaption>
							        </figure>
							    {{- end }}
							</div>
							{{- else }}
						

						    <div class="image fit"><img src="" alt="" /></div>
						{{- end }}
						</a>

					<!-- <div class="content"><a href="{{.Permalink}}">Ler Mais</a></div> -->
				</div>
				{{- with .Resources.GetMatch "header_secondary" -}}
				<div class="spotlight">
					<div class="image fit">
						    {{- if eq .MediaType.SubType "gif" -}}
						        <img src="{{- .RelPermalink -}}" alt="" />
						    {{- else }}
						        {{- $image := .Resize "400x" -}}
						        <img src="{{- $image.RelPermalink -}}" alt="" />
						    {{- end }}
					</div>
					<div class="content"></div>
				</div>
				{{- end }}
			</div>
		</div>