<p class="special lead"><strong>{{ .Params.eventdate | dateFormat "2" }} de Abril | {{ .Params.eventdate | dateFormat "15h04" }}</strong></p>
<p>{{ .Params.quote | safeHTML }}</p>
			<a href="{{ .RelPermalink }}"><h3 class="special lead">{{ .Title | safeHTML }}</h3></a>
			<p>{{ .Params.subtitle | safeHTML }}</p>

			
			
			<a href="{{ .RelPermalink }}">
				{{- with .Resources.GetMatch "header" -}}
			<div class="image center">
			    {{- if eq .MediaType.SubType "gif" -}}
			        <img class="center" src="{{- .RelPermalink -}}" alt="" />
			    {{- else }}
			        {{- $image := .Fit "300x300" -}}
			        <img class="center" src="{{- $image.RelPermalink -}}" alt="" />

			    {{- end }}
			    </div>
			{{- else }}
			    <img class="center" src="{{- $.Site.Params.headerPhoto -}}" alt="" />
			    </div>
			{{- end }}
			
			
			</a>

		<ul class="actions">
			<li><a href="{{ .RelPermalink }}" class="button" id="{{ replaceRE "evento" "" .RelPermalink | replaceRE "/" "" | replaceRE "-" "" }}">Detalhes</a></li>
		</ul>