{{ define "bodyclasses" }}
	single {{ .Title | lower | urlize}}
{{ end }}

{{ define "main" }}
	<!-- One -->
		<div id="main">
			<div class="wrapper">
				<div class="inner">
					<header class="major">
						<h1>{{ .Title | safeHTML }}</h1>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
						{{ with .Params.eventdate }}
						<strong>{{ . | dateFormat "2" }}</strong>	 {{ end }}
						
						 de Abril</strong>, {{ with .Params.eventlocation }} {{ . }} {{ end}}


					</header>
					{{- if (.Params.options.showHeader) nil | or (.Params.options.showHeader) true }}
					<div class="image main">					
						{{ partial "get_header" . }}
					</div>
					 {{- end -}}
					 <div class="row aln-center">
					 	<div class="col-9 col-12-small">
						{{ .Params.paragraph | markdownify }}
						<hr>
					 	{{ replace .Content .Summary "" | safeHTML }}</div>
					 </div>

				</div>
			</div>
		</div>
{{ end }}