<div id="two">
	<div class="wrapper style2">
		<div class="inner">
			<div class="spotlights">
				<div class="intro">
					<header>
						<h2 class="left">{{ .Title }}</h2>
						<p>{{ .Summary }}</p>
					</header>
					<ul class="actions">
						<li><a href="#" class="button">Details</a></li>
					</ul>
				</div>
				<div class="spotlight">
					<div class="image fit">
						<img src="images/pic03.jpg" alt="">
					</div>
					<div class="content">Magna sed tempus</div>
				</div>
				<div class="spotlight">
					<div class="image fit">
						<img src="images/pic04.jpg" alt="">
					</div>
					<div class="content">Lorem ipsum dolor</div>
				</div>
			</div>
		</div>
	</div>
</div>